<div id= "confetti" class="flash flash-success alert alert-dismissible fade show" role="alert">
  <span><strong>Yay!</strong> 🎉 We promise you will enjoy this experience</span>
  <a data-dismiss="alert" aria-label="Close">
    <i class="fas fa-times"></i>
  </a>
</div>




<div class="d-flex justify-content-center">
  <div class="profile">
    <img class="avatar-large" alt="avatar-large" src="https://images.mubicdn.net/images/cast_member/2184/cache-2992-1547409411/image-w856.jpg?size=800x" />

    <p style= "font-size: 14px"><i class="fas fa-user-circle"></i> Tom Cruise</p>
    <p style= "font-size: 14px"><i class="fas fa-envelope"></i> 007@gmail.com</p>
    <p style= "font-size: 14px"><i class="fas fa-phone"></i> +34 007007</p>
    <p style= "font-size: 14px"><i class="fas fa-map-marker-alt"></i> London</p>
    <a class="btn btn-ghost" href="#">Edit profile</a>


  </div>


  <div class="box">
    <div class= "text">
      <div>
        <br>
        <h4 >Previous experiences :</h4>
        <br>
        <p><i class="fas fa-video"></i>  Harry Potter on the 6th of March 2019</p>
        <p><i class="fas fa-video"></i>  Shaun of the Dead on the 11th of June 2019</p>
        <!-- <td ><%#= current_user.booking_details %></td> -->
      </div>

      <div class= "nextexperience">
        <h4 >Your next experiences :</h4>
        <br>
        <p >Time of your booking :   <%= @user.bookings.last.created_at %></p>
        <p >You've picked :   <%= @user.bookings.last.experience.title %></p>
        <p ><%= @user.bookings.last.experience.description %></p>
        <p ><%= @user.bookings.last.experience.price %>£</p>
      </div>
    </div>

    <div class="button">
      <div class="d-flex justify-content-center" >
        <%= link_to  'Back to Experiences', experiences_path, class: "btn btn-ghost" %>
      </div>
    </div>
  </div>


</div>









<!-- CESAR CODE DOWN -->

<!-- <div class="student-profile py-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="card shadow-sm">
          <div class="card-header bg-transparent text-center">
            <img class="profile_img" src="https://kitt.lewagon.com/placeholder/users/cesar-bout" alt="">
            <h3>Name</h3>
          </div>
          <div class="card-body">
            <p class="mb-0"><strong class="pr-1">:</strong>4</p>
            <p class="mb-0"><strong class="pr-1">:</strong>A</p>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card shadow-sm">
          <div class="card-header bg-transparent border-0">
            <h3 class="mb-0"><i class="far fa-clone pr-1"></i>General Information</h3>
          </div>
 -->


<!--
          <div class="card-body pt-0">
            <table class="table table-bordered">
              <tr>
                <th width="30%">Previous experiences</th>
                <td width="2%">:</td>
                <td></td>
              </tr>
              <tr>
                <th width="30%">Experiences incoming </th>
                <td width="2%">:</td>
                <td></td>
              </tr>
              <tr>
                <th width="30%">Email</th>
                <td width="2%">:</td>
                <td></td>
              </tr>
              <tr>
                <th width="30%">Adress</th>
                <td width="2%">:</td>
                <td></td>
              </tr>
              <tr>
                <th width="30%">Telephone</th>
                <td width="2%">:</td>
                <td></td>
              </tr>
            </table>
          </div>
        </div>
          <div style="height: 26px"></div>
        <div class="card shadow-sm">
          <div class="card-header bg-transparent border-0">
            <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Other Information</h3>
          </div>
          <div class="card-body pt-0">
              <p>Why I am the best experiences' host</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
