<div class="container d-flex">
  <div class="experience-info">
    <div class="box2">
      <h1> <%= @experience.title %> </h1>
      <h3> <i> <%=  @experience.address %> </i> </h3>
      <p> <%= @experience.description %> </p>
      <a style= "color:white" href="https://www.google.com/maps/place/Curzon+Soho/@51.5127029,-0.1327669,17z/data=!3m1!4b1!4m5!3m4!1s0x487604d2f64ffb47:0xc9b10284ebca42e7!8m2!3d51.512678!4d-0.1305926" target="_blank">take me there</a>

      <div class="ratings-price d-flex">
        <p> <i class="fas fa-star" id="star"></i> <%= @experience.rating %> </p>
        <p> Price: £<%= @experience.price %>
      </div>
    </div>
    <%#= link_to ‘I want this experience’, new_experience_booking_path %>
    <%#= simple_form_for ([@experience, @booking]) do |f| %>
      <%#= f.input :date,  %>
    <%# end %>
    <%= simple_form_for([@experience, @booking]) do |f| %>
      <%= f.input :booking_date, start_year: Time.now.year %>
      <%= f.input :booking_details, label: 'Any questions or requests?', placeholder: 'Please type your message here.' %>
      <%= f.submit %>
    <% end %>
    <%= link_to  'Back to Experiences', experiences_path, class: "btn btn-primary m-3" %>
  </div>
  <%= image_tag @experience.image_url , alt: "", class: "experience-img" %>
</div>



<!-- ORIGINAL -->
<!-- <div class="img__wrap">
  <img class="img__img" src="http://placehold.it/257x200.jpg" />
  <p class="img__description">sdfs<%= @experience.quote %></p>
</div>
 -->

<div class="img__wrap">
  <img class="img__img" src="https://i.kym-cdn.com/photos/images/facebook/001/675/560/002.jpg" />
  <p class="img__description">here the text<%= @experience.quote %></p>
</div>

