<div class="container d-flex">
  <div class="experience-info">
    <div class="box2">
      <h1> <%= @experience.title %> </h1>
      <h3> <i> <%=  @experience.address %> </i> </h3>
      <p> <%= @experience.description %> </p>
      <a target='_blank' href="https://www.google.com/maps/place/Blackfriars+Bridge/@51.5096426,-0.1065715,17z/data=!3m1!4b1!4m5!3m4!1s0x487604ad954d31a7:0x4e26b9c44832a446!8m2!3d51.5096426!4d-0.1043828" class="btn btn-primary align-items"><i><i class="fas fa-map-marker-alt"></i></i>Take me there!</a>
      <div class="ratings-price d-flex">
        <p> <i class="fas fa-star" id="star"></i> <%= @experience.rating %> </p>
        <p> <strong>Price:</strong> £<%= @experience.price %>
      </div>
    </div>
    <%#= link_to ‘I want this experience’, new_experience_booking_path %>
    <%#= simple_form_for ([@experience, @booking]) do |f| %>
      <%#= f.input :date,  %>
    <%# end %>
    <%= simple_form_for([@experience, @booking]) do |f| %>
      <%= f.input :booking_date %>
      <%= f.input :booking_details, label: 'Any questions or requests?', placeholder: 'Please type your message here.' %>
      <%= f.submit %>
    <% end %>
    <%= link_to  'Back to Experiences', experiences_path, class: "btn btn-primary m-3" %>
  </div>
  <%= image_tag @experience.image_url , alt: "", class: "experience-img" %>
</div>



<!-- ORIGINAL -->
<!-- <div class="img__wrap">
  <img class="img__img" src="http://placehold.it/257x200.jpg" />
  <p class="img__description">sdfs<%= @experience.quote %></p>
</div>
 -->

